<div class="flex flex-col m-10">
    <div *ngFor="let product of allProductsInCart; let i =index" class=" my-3">
        <mat-card-content>
            <img mat-card-image src="{{product.ProductImg}}" alt="Product image" width="50" height="50">
            <div class="flex justify-between">
                <p>
                    {{product.ProductName}}
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>item : {{product.num}}</button>
        </mat-card-actions>
    </div>
    <div>
        <p>Payment method :Cash</p>
        <p>delivery fees :20 LE</p>
        <p>Name :{{userAddress}}</p>
        <p>Address : {{userName}}</p>

        <p> Total payment : {{total + 20 }}</p>
    </div>

</div>