<div class="flex flex-wrap items-center justify-center">
  <div *ngFor="let product of products; let j=index " class="lg:w-[22%] md:w-[45%] w-auto mx-2 px-2 hover:shadow-2xl my-3 rounded-xl py-3">
    <div class="flex flex-col py-5 px-3">
      <img src="{{product?.ProductImg}}" alt="" class="w-[75%] self-center">
      <p class=" text-ta-black-150 text-sm my-2">Vintage Typewriter to post awesome stories about UI design and webdev.
      </p>
      <p class="text-2xl font-bold"> ${{product?.ProductPrice}} </p>
      <p class=" text-ta-black-150 text-xs my-2">Wordwide shifting availableBuyers protection possible!</p>
      <div class="flex justify-between flex-wrap">
        <div>
          <form [formGroup]="form" class="flex ">
            <div *ngFor="let control of rating.controls; let i=index" formArrayName="rating">
             <div *ngIf="i==j" class="flex">
              <ngx-star-rating [formControlName]="i" [id]="product?.rating" [disabled]="true"></ngx-star-rating>
              <div> {{product?.rating}}</div>
             </div>
            </div>
          </form>
        </div>
        <button class="flex text-ta-blue-50 border-ta-blue-50 border px-2 py-1 watchList items-center"
          (click)="openDetails(product)">
          <mat-icon class="me-2">favorite_border</mat-icon> watch
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!products.length">
    no data found
 </div>
</div>