.parentContainer {
  .productImg {
    border-radius: 15px 0 0 15px;
    .img-prod {
      margin: auto;
      top: 0px;
      left: 0;
      right: 50%;
      bottom: 0;
      transform: skewX(10deg);
      border-radius: 15px;
    }
    .backToList{
      top: 10px;
      left: 10px;
      color: #6F768D;
      font-size: 12px;
    }
  }

  .bottomBar {
    bottom: 23px;
    background: white;
    width: 95%;
    left: 0;
    right: 0;
    margin: auto;
    padding-inline: 10px;
    padding-block: 5px;
  }
}
