<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Category
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="my-2">
            <input type="checkbox" name="" id="">
            <label for="">Electronics</label>
        </div>
        <div class="my-2">
            <input type="checkbox" name="" id="">
            <label for="">Business & indesturail</label>
        </div>
        <div class="my-2">
            <input type="checkbox" name="" id="">
            <label for="">Expiring soon</label>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Expanded Filters
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
    </mat-expansion-panel>
</mat-accordion>