<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Category
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="my-2">
            <input type="checkbox" name="" id="">
            <label for="">Electronics</label>
        </div>
        <div class="my-2">
            <input type="checkbox" name="" id="">
            <label for="">Business & indesturail</label>
        </div>
        <div class="my-2">
            <input type="checkbox" name="" id="">
            <label for="">Expiring soon</label>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Expanded Filters
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="my-2 flex items-center">
            <input type="checkbox" name="" id="">
            <label for="" class="flex items-center">price 1 <mat-icon>arrow_right_alt</mat-icon>
                200</label>
        </div>
        <div class="my-2 flex items-center">
            <input type="checkbox" name="" id="">
            <label for="" class="flex items-center">price 201 <mat-icon>arrow_right_alt</mat-icon>
                300</label>
        </div>
        <div class="my-2 flex items-center">
            <input type="checkbox" name="" id="">
            <label for="" class="flex items-center">price 301 <mat-icon>arrow_right_alt</mat-icon>
                400</label>
        </div>
    </mat-expansion-panel>
</mat-accordion>