/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './assets/styles/buttonToggle';
@import './assets/styles/matCard';
label.star{
    padding: 5px !important;
    font-size: 12px !important;
    padding-bottom: 0 !important;
}
.mat-toolbar{
    background-color: white !important;
}
 .mat-toolbar-single-row{
@media screen and (max-width:767px) {
    height: auto;
}
}
.watchList{
    .mat-icon{
        width: 17px;
        height: 17px;
    }
    .material-icons{
        font-size: 17px;
    }
}

.countBtns {
    color: #828ef9;
    border: 1px solid #828ef9;
    padding: 1px 10px;
    margin-block: 10px;
    border-radius: 8px;
    margin-inline: 5px;
  }
  .counter {
    border: 1px solid #d4d4d4;
    padding: 5px 10px;
    border-radius: 8px;
    margin-inline: 5px;
  }