/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
label.star{
    padding: 5px !important;
    font-size: 12px !important;
    padding-bottom: 0 !important;
}
.mat-toolbar{
    background-color: white !important;
}
.watchList{
    .mat-icon{
        width: 17px;
        height: 17px;
    }
    .material-icons{
        font-size: 17px;
    }
}